order-processing.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e0e1e400-77e5-443c-8d7d-079d391143e4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/level2-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "c90f3c6f41104c3c4079318f2f5e1bd7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        -80
      ],
      "id": "64fac43f-8ff7-4089-9d68-21c8b458b32d",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Sbql5jwpUvzCN3bZ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appfM4iBvno6HiKMB",
          "mode": "list",
          "cachedResultName": "Grid view.csv",
          "cachedResultUrl": "https://airtable.com/appfM4iBvno6HiKMB"
        },
        "table": {
          "__rl": true,
          "value": "tblXRCUTRqCBySStB",
          "mode": "list",
          "cachedResultName": "Imported table",
          "cachedResultUrl": "https://airtable.com/appfM4iBvno6HiKMB/tblXRCUTRqCBySStB"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        256,
        96
      ],
      "id": "f285f38d-919c-44d6-8444-6b419e212b0b",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "mdQle7CLRJc0k1VC",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "customerID",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        512,
        16
      ],
      "id": "343bb515-daa6-4633-97d7-6d1b2936cc2b",
      "name": "Merge"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "orderPrice",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        720,
        16
      ],
      "id": "1f2378a8-213a-48e4-85cf-f7b0cd40e479",
      "name": "Sort"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a9e12265-568b-46ba-9ab9-3ff89b9fe9a6",
              "leftValue": "={{ $json.region }}",
              "rightValue": "={{ $json.region }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        16
      ],
      "id": "831413f4-17da-4546-9be1-2a67d688549b",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "fileName": "={{ String($json.orderID) }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1136,
        -80
      ],
      "id": "7d874533-b1d4-42a2-8b8e-5b350a3fd39a",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "sendTo": "foxasdf8@gmail.com",
        "subject": "n8n",
        "message": "hello",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        -80
      ],
      "id": "79f11419-7521-4504-ad03-7727c507e73d",
      "name": "Send a message",
      "webhookId": "cd5c9a1c-060a-4a9a-90a6-caeb5017cd19",
      "credentials": {
        "gmailOAuth2": {
          "id": "wIF3CqA7XbF6iZx3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=I sent the file using email with the label ID c90f3c6f41104c3c4079318f2f5e1bd7. My ID: c90f3c6f41104c3c4079318f2f5e1bd7",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1552,
        -80
      ],
      "id": "30176eb2-fc4e-4209-b605-56d186dd2f9f",
      "name": "Discord",
      "webhookId": "dc555a30-2b67-48d0-a362-99ed60c35be3",
      "credentials": {
        "discordWebhookApi": {
          "id": "FYQicpXzoQkaDtPl",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        832,
        272
      ],
      "id": "77815eec-b12a-420d-8dfa-65e3fbdaec62",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f721fbf-715a-4c4e-8b91-efec133904aa",
              "name": "customerEmail",
              "value": "={{ $json.customerEmail }}",
              "type": "string"
            },
            {
              "id": "cefbe59b-d7ab-4738-a989-5bfb8a4ac9fd",
              "name": "customerRegion",
              "value": "={{ $json.region }}",
              "type": "string"
            },
            {
              "id": "4b1fb1ce-a968-463b-bb4b-9e3d08a28b9f",
              "name": "customerSince",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            },
            {
              "id": "cabd27c3-3288-4852-89d8-bc7069c76474",
              "name": "orderPrice",
              "value": "={{ $json.orderPrice }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        272
      ],
      "id": "876dbbb1-89c8-45e0-9025-059ea09c37fc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.customerSince }}",
        "outputFieldName": "customerSince",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1392,
        272
      ],
      "id": "d7ce2d48-7cbe-4893-93c0-cc54dcec288b",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "options": {
          "fileName": "={{$runIndex > 0 ? 'file_low_orders':'file_high_orders'}}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1600,
        272
      ],
      "id": "2807a16b-23ff-4fcd-acdd-b934437bb992",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "I created the spreadsheet file_high_orders. My ID: c90f3c6f41104c3c4079318f2f5e1bd7",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1808,
        272
      ],
      "id": "d5353eae-ba04-4bb9-b355-0a09ebfbb96e",
      "name": "Discord1",
      "webhookId": "e9770f92-f189-4b68-9b31-5f6dd20298b3",
      "credentials": {
        "discordWebhookApi": {
          "id": "FYQicpXzoQkaDtPl",
          "name": "Discord Webhook account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "wwLRiAV38G6h1zAi"
  },
  "versionId": "8aa77f06-0b52-4b42-9a49-71ac43e4b46c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "89a76364c74e88a271a653861ca67ba1daa0bb43d3a81850f0b5cd13cce94538"
  },
  "id": "kIXkpABPUJsrY6d4",
  "tags": []
}